/* This file is for your main application css. */

h3, h4 { color: #0e4749; }
.game-of-life-left { float: left; padding: 10px; }
.game-of-life-left p { color: #95c623; font-size: 11pt; }
.game-of-life-left button { background-color: #95c623; border: 1px solid #0e4749; color: #0e4749; padding: 5px; cursor: pointer; }
.game-of-life-right { float: left; padding: 10px; }
table.game-of-life td { cursor: pointer; }
table.game-of-life td.dead { background-color: #e6e6e6; border: 1px solid #e6e6e6; }
table.game-of-life td.alive { background-color: #95c623; border: 1px solid #0e4749; }
